<head>
    <meta charset="utf-8">
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link href="esoftchat.css" rel="stylesheet" type="text/css">
    <!--      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">-->
    <!--      <link rel="stylesheet" type="text/css" href="style.css" >-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>E-soft Chat project</title>
</head>