<!DOCTYPE html>
<html lang="ru">
<%- include('./partials/head') %>
<body>

<!--{{> navbar}}-->
<!--<h1>{{title}}</h1>-->
<!--<div class="container">-->
    <%- include('./partials/body') %>
<!--</div>-->

<%- include('./partials/footer') %>
</body>
</html>